body {
  background-image: url("Desktop_5.jpg");
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional, for a fixed background */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blink 1s infinite;
}